<h1><%=@note.name%></h1>

<p><%= @note.body %></p>

<p>
</br>
<%= link_to 'Edit Note', edit_note_path(@note) %>
</br>
<%= link_to 'Delete', note_path(@note), method: :delete %>
</br>
  <%= link_to 'Home Page', root_path %>
</p>